In [1]:
import pandas as pd

file_path = "data/1comments.h5"
df = pd.read_hdf(file_path, key='df')
df.sample(3)

,id,createdAt,userId,userCreatedAt,classYear,universityId,country,universityName,parentId,questionId,comment,review,chapter_explanation_update,question_update,question_explanation_update,qc_explanation_update
13844,18261,2023-02-14 13:52:13.917612+00:00,14961,2021-11-28 10:27:36.383000+00:00,Year 4,9364,United Kingdom,Barts and The London School of Medicine and De...,NaN,2840,Perhaps consider rewording the question to ask...,False,None,None,None,None
15251,19878,2023-03-11 22:59:14.753742+00:00,13060,2021-10-14 18:03:22.569000+00:00,Year 4,9364,United Kingdom,Barts and The London School of Medicine and De...,NaN,11914,What is this PA finals?,False,None,None,None,None
22624,28202,2023-06-08 17:11:02.892703+00:00,1786,2019-07-23 12:43:32.106000+00:00,Year 5,2620,United Kingdom,University College London (UCL),NaN,8746,good question thanks quesmed you shills,False,None,None,None,None

## Processing DataFrame

In [2]:
f"Date range of comments: {df.iat[0, 1]} to {df.iat[-1, 1]}"

'Date range of comments: 2021-03-25 11:22:56.133000+00:00 to 2023-07-26 13:22:58.514174+00:00'

No cleaning needed for now, maybe it would be worth filtering the comments with a low number of tokens